<!-- code for generating printable report from raw JSON reports. -->
<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>

<body id="<%= pageId %>">
  <!-- header and banner -->
      <% include partials/template/header.ejs %>
      <% include partials/template/djs.ejs %>
  <!-- header ends -->

<!-- Container -->
  <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="maincontent">
            <h2>Detailed Audit Report for <%= reportname%></h2>
            <h4><%= findings.length %> controls were tested. <%= issues[1]+issues[2]+issues[3]%> issues were reported. [<a href="/audits/">Back to audit repository</a>]</h4>
            <div class="list-group">
              <h5><b>Issues reported</b></h5>
              <table class="table table-condensed .table-responsive">
                <thead>
                  <tr>
                    <th>Component</th>
                    <th>Region</th>
                    <th>Issue</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <% findings.forEach((function(finding){ if(finding.status!="OK"){ %>
                  <tr>
                  <td><%= finding.category %></td>
                  <td><%= finding.region %></td>
                  <td><%= finding.message %></td>
                  <td><%= finding.status %></td>
                </tr>
                <%}}))%>
              </table>
            </div>

          </div>
        </div><!-- primary -->

        <aside class="col-sm-4">
          <br/><br/>
          <div>
          <h5><b>Issue statistics</b></h5>
          <canvas id="issuestats" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
          </canvas>
          <script>
          var canvas = document.getElementById('issuestats');
          var chart = new Chart(canvas,{
            type: 'doughnut',
            data: {labels: <%- JSON.stringify(rstats); %>,
            datasets: [
              {
                label: "Issue Stats",
                backgroundColor: ['#00C851','#FFBB33','#FF4444','#BDBDBD'],
                borderColor: '#00ADF9',
                borderWidth: 0,
                data: <%- JSON.stringify(issues); %>,
              }
            ]},
            options:{}
          });
          </script>
          </div>
        <div>
          <br/>
          <h4 class="card-header">General recommendations</h4>
          <p><ul class="list-group">
            <li class="list-group-item list-group-item-danger">'FAIL' issues pose a HIGH risk and should be mitigated immediately.</li>
            <li class="list-group-item list-group-item-warning">'WARN' issues are concerning. Consult security professional for mitigation/resolution.</li>
            <li class="list-group-item list-group-item-info">'UNKNOWN' issues should be validated in the context of your deployment for any actual risks.</li>
            <li class="list-group-item list-group-item-success">'OK' hurray, you have configured it right!</li>
          </ul>
          </p>
        </div>
        </aside><!-- secondary -->
      </div>
    </div>
<!-- Container ends -->

<% include partials/template/footer.ejs %>

<script src="/reload/reload.js"></script>
</body>
</html>
