<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>

<body id="<%= pageId %>">
  <!-- header and banner -->
      <% include partials/template/header.ejs %>
  <!-- header ends -->


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Audit reports repository.</h1>
    <p class="lead">It seems there are <%= files.length %> reports. Click on report for more info.</p>
    <% if (files.length>0){ var i=0; %>
              <p><strong>Reports</strong></p>
              <ul class="list-group">
            <%  files.forEach(function(item){ %>
              <% var ftdate = item.substring(3, item.indexOf('.js')); %>
              <% var ite = item.substring(0,item.indexOf('.js'));%>
              <% var date=new Date(parseInt(ftdate)); %>
                <li class="list-group-item"><a href="/audits/<%= item %>"><%= ite %></a> | Scantime - <%=date%></li>
              <% i++;}) %></ul>
            <% }else{ %><h2>No reports were found!</h2><% } %>
            <br>
            <p><em>Scans are performed by internal toolkit.</em></p>
  </div>
</div>



<% include partials/template/footer.ejs %>
<script src="/reload/reload.js"></script>
</body>
</html>
