<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>

<body id="<%= pageId %>">
  <!-- header and banner -->
      <% include partials/template/header.ejs %>
  <!-- header ends -->

<!-- Container -->
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Control details</h1>
    <p class="lead">Cloud Control ID - <%= control.id %></p>
    <p>
      <ul class="list-group">
        <li class="list-group-item"><b>Family</b> <%= control.type %></li>
        <li class="list-group-item"><b>Title</b> <%= control.title %></li>
        <li class="list-group-item"><b>Description</b> <%= control.description %></li>
      </ul>
      <br>
      <a href="/controls" class="btn btn-info" role="button">All controls</a>
    </p>
  </div>
</div>
  

<% include partials/template/footer.ejs %>

<script src="/reload/reload.js"></script>
</body>
</html>
